@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}